/* Global Variables*/

:root {
  --main-grey: #1f2738;
  --main-blue: #3646dc;
  --main-dark-blue: #1c1f2d;
  --main-light-blue: #1f2738;
  --main-green: #4ad991;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  color: #fff;
  font-family: Helvetica;
  -webkit-font-smoothing: "antialaised";
}

a {
  text-decoration: none;
  color: #fff;
}
